# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

data2 = data.rename(columns={'children':'Количество детей'})
data_pivot = data2.pivot_table(index=['Количество детей'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['ratio'] = data_pivot['sum'] / data_pivot['count']
data_pivot = data_pivot.rename(columns={'count':'Количество взятых кредитов','sum':'Количество просроченных кредитов', 'ratio':'Соотношение'})
data_pivot

,Количество взятых кредитов,Количество просроченных кредитов,Соотношение
Количество детей,,,
0,14091,1063,0.075438
1,4808,444,0.092346
2,2052,194,0.094542
3,330,27,0.081818
4,41,4,0.097561
5,9,0,0.000000

**Вывод: на основании исследования выявлено что количество детей у заёмщика влияет на его платёжную дисциплину. Заёмщики, имеющие одного или двух детей, допускают просрочки по кредитным платежам существенно чаще чем заёмщики, не имеющие детей. Это можно объяснить существенной разницей в финансовой нагрузке между категориями заёмщиков с детьми и без детей. Таким образом прослеживается прямая зависимость между количеством детей и возвратом кредита в срок.
При формировании вывода не учитывались заёмщики с тремя, четырьмя и пятью детьми ввиду их небольшого количества и как следствие слабой репрезентивностью данных категорий заёмщиков.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data2 = data.rename(columns={'family_status':'Семейное положение'})
data_pivot = data2.pivot_table(index=['Семейное положение'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['ratio'] = data_pivot['sum'] / data_pivot['count']
data_pivot = data_pivot.rename(columns={'count':'Количество взятых кредитов','sum':'Количество просроченных кредитов', 'ratio':'Соотношение'})
data_pivot

,Количество взятых кредитов,Количество просроченных кредитов,Соотношение
Семейное положение,,,
Не женат / не замужем,2796,273,0.097639
в разводе,1189,84,0.070648
вдовец / вдова,951,63,0.066246
гражданский брак,4134,385,0.093130
женат / замужем,12261,927,0.075606

**Вывод: на основании исследования выявлено что самые платёжеспособные заёмщики - это ранее находящиеся в браке. Это можно объяснить зрелым возрастом, высокой степенью самостоятельности и ответственности. Заёмщики, находящиеся в браке, имеют среднюю степень платежеспособности. Это можно объяснить наличием детей и как следствие ограниченным личным бюджетом. Заёмщики, находящиеся в гражданском браке либо не состоящие в браке, занимают наименьшую долю платежеспособности. Это можно объяснить молодым возрастом и нестабильными источниками дохода. В целом можно говорить о зависимости семейного положения заёмщика от его платёжеспособности.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data2 = data.rename(columns={'total_income_category':'Уровень дохода'})
data_pivot = data2.pivot_table(index=['Уровень дохода'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['ratio'] = data_pivot['sum'] / data_pivot['count']
data_pivot = data_pivot.rename(columns={'count':'Количество взятых кредитов','sum':'Количество просроченных кредитов', 'ratio':'Соотношение'})
data_pivot

,Количество взятых кредитов,Количество просроченных кредитов,Соотношение
Уровень дохода,,,
A,25,2,0.080000
B,5014,354,0.070602
C,15921,1353,0.084982
D,349,21,0.060172
E,22,2,0.090909

**Вывод: на основании исследования выявлено что уровень дохода заёмщика прямо влияет на его платежную дисциплину. Замечено что количество невозвратов кредитов выше у заёмщиков, имеющих месячный доход от 50000 до 200000 рублей чем у заёмщиков, имеющих месячный доход от 200000 до 1000000 рублей. Это можно объяснить гораздо большим опытом планирования личного бюджета в последней указанной категории заёмщиков. При формировании вывода не учитывались заёмщики со следующими типами месячного дохода:
-более 1000000 рублей
-от 30000 до 50000 рублей
-до 30000 рублей,
ввиду их небольшого количества и как следствие слабой репрезентивностью данных категорий заёмщиков.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

data2 = data.rename(columns={'purpose_category':'Цель получения кредита'})
data_pivot = data2.pivot_table(index=['Цель получения кредита'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['ratio'] = data_pivot['sum'] / data_pivot['count']
data_pivot = data_pivot.rename(columns={'count':'Количество взятых кредитов','sum':'Количество просроченных кредитов', 'ratio':'Соотношение'})
data_pivot

,Количество взятых кредитов,Количество просроченных кредитов,Соотношение
Цель получения кредита,,,
операции с автомобилем,4279,400,0.093480
операции с недвижимостью,10751,780,0.072551
получение образования,3988,369,0.092528
проведение свадьбы,2313,183,0.079118

**Вывод: на основании исследования выявлено что самые платёжеспособные заёмщики - люди, принимающие решение о получении кредита на операции с недвижимостью. Это можно объяснить высокой степенью ответственности за принятие решение о покупке недвижимости как для улучшения жилищных условий так и как средства для инвестирования. Также к платежеспособным заёмщикам можно отнести людей, принимающих решение о получении кредита на проведение свадьбы. Это опять же связано с высокой степенью ответственности за данное событие. Степень платёжеспособности ниже у заёмщиков, взявших кредит на операции с автомобилем и получение образования. Это можно объяснить не всегда запланированным, а часто очень быстрым получением данных видов кредита. В целом зависомость прослеживается.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

**Ответ: пропуски были обнаружены в таких значениях как трудовой стаж и ежемесячный доход. Это можно объяснить как человеческим фактором в заполнении так и нежеланием некоторых заёмщиков отвечать на данные вопросы. Некоторые молодые заёмщики возможно объективно не смогли ответить на данные вопросы ввиду отсутствия трудового стажа и как следствие стабильного источника дохода.**

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ: среднее значение некорректно характеризует данные в том случае, когда некоторые количественные значения сильно отличаются от большинства других. Медианное значение в этом случае более объективно.**

### Шаг 4: общий вывод.

**В ходе исследований были изучены полученные данные, обработаны и заполнены пропуски, удалены дубликаты, заёмщики были объединены в группы по разным параметрам.
На основании проведённых исследований можно сделать вывод о том что платёжеспособность заёмщика зависит не только от его месячного уровня дохода, но так же и от других параметров как семейное положение, количество детей и цель получения кредита.
Если говорить про уровень дохода, то здесь можно сделать промежуточный вывод что платёжная дисциплина гораздо выше у заёмщиков, имеющих месячный доход от 50000 рублей и выше. И при увеличении месячного дохода показатель кредитной дисциплины только повышается. Однако определить зависимость кредитной дисциплины к уровню дохода до 50000 рублей не представилось возможным ввиду ограниченной выборки данных категорий уровня дохода.
Если говорить про количество детей, то здесь можно сделать вывод что заёмщики, не имеющие детей - самые дисциплинированные. Далее если ранжировать уровень дисциплины, то последовательно идут заёмщики с одним ребенков и затем заёмщики с двумя детьми. Далее корреляция сложно устанавливается поскольку выборки заёмщиков с тремя, четырьми и пятью детьми крайне малы. Но в целом можно сделать вывод что количество детей влияет на кредитную дисциплину.
Если говорить про семейное положение, здесь можно сделать вывод что одинокие заёмщики, но имеющие опыт семейных отношений - самые дисциплинированные. Семейные отношения придают дополнительную ответственность в принятии финансовых решений и вместе с тем у одиноких заёмщиков гораздо меньше незапланированных личных расходов. Это подтвержается тем что на третьем месте по кредитной дисциплинированности идут заёмщики в статусах женат/замужем. У них также высокая степень финансовой ответсвенности и имеется хороший опыт планирования личного бюджета, однако незапланированных расходов гораздо больше.
Заёмщики, оформившие кредит на операции с недвижимостью, лучше всех возвращают кредит (7,26% невозврата кредита в срок).
Заёмщики, оформившие кредит на операции с автомобилем, самые безответственные (9,35% невозврата кредита в срок).
Можно сделать вывод что идеальный заёмщик - одинокий человек, но имеющий опыт семейный отношений, имеющий месячный доход от 200000 до 1000000 рублей, не имеющий детей и обратившийся за кредитом для операций с недвижимостью.**